<div class="jumbotron text-center">
<h1 class="">Articles!</h1>
<button class="btn"id="getArticles"><a href="/scrape">scrape for articles</a></button>
</div>




  <div id="wrapper">
    <div id="articles" class="card">
      {{#each dbArticle}}
      <div class="card-body">
        <a target="_blank" class="card-title" href={{link}}>{{title}}</a>
      <p class="card-text" data-id={{_id}}>{{summary}}</p>
      </div>
      {{/each}}
    </div>
     <div id="notes"></div>
  </div>
 


{{!-- <form action="/submit" method="post">
  <h1>Hi User!</h1>
  <h2>Enter a Note!</h2>
  <input type="text" name="title" placeholder="Title">
  <textarea type="text" name="body">Write Note Here</textarea>

  <input type="submit">
  <a href="/notes">See your notes!</a>
  <a href="/user">See your profile!</a>
  <a href="/populateduser">See your profile, populated with notes!</a>
</form> --}}
{{!-- 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script src="/assets/js/app.js"></script> --}}